events {}
  
http {
	upstream test {
		{% for k in upstream %}
        server {{k['server']}};
		{% endfor %}
    }

	server {
		listen {{ ansible_default_ipv4.address }}:80;
		listen [::]:80;
		server_name {{item}};
		root /var/www/{{nginx_site_folder}}};
		index index.html;
		try_files $uri /index.html;

		location /228 {
            proxy_pass http://test;
        }
	}
}  